*.suo
*.user
*.FileListAbsolute.txt
*\bin\*
*\obj\*
*.ncb
*.nlb
*.aps
*.clw
*.pdb
*.obj
*.exe
*.pch
*.vspscc
*_i.c
*_p.c
*.tlb
*.tlh
*.bak
*.cache
*.Cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.sig
*.xap
_ReSharper*
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
glob:desktop.ini
generated-templates
nuget/*.nupkg
nuget/*/lib/
*.*~
*.vs10x
*.docstates
